<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header-transparent offmenu creative-design theme-blue">
  

   <%#= render "shared/nav", location: 'top' %>

  <%#= login_helper %>
    <%= yield %>

  <%= source_helper("application") %>
  </body>
</html>
